@import url("https://fonts.googleapis.com/css2?family=Freeman&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,500;1,500&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.cont {
  padding: 10px;
  max-width: fit-content !important;
  line-height: 2rem;
  backdrop-filter: blur(15px);
  box-shadow: 0 0 15px;
  border-radius: 15px;
  padding-left: 20px;
  margin: 20px;
}
.form-control {
  text-align: center !important;
  width: 450px;
}
.ntb {
  width: 200px !important;
  margin-bottom: 15px;
}
input {
  width: 350px !important;
}
.cont h2 {
  font-family: "Montserrat", sans-serif;
}
.cont label {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
