 body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh ;
} 
.cont {
  padding: 10px;
  line-height: 2rem;
  border-radius: 15px;
  
  max-width: fit-content !important;
}

.ntb {
  width: 200px;
  margin-bottom: 15px;
}
input {
  width: 350px !important;
}
select {
  width: 350px !important;
}
.cont h2{
  font-family: "Montserrat", sans-serif;
}
.cont label{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}